.menu-button {
    width: 34px;
    height: 34px;
    display: flex;
    flex-direction: column;
    background: $mountain-meadow;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 20px;
    .line {
        width: 16px;
        height: 2px;
        margin-bottom: 2px;
        display: flex;
        background: #ffffff;
    }
}

