@import "base";
@import "font";
@import "breadcrumb";
@import "buttom";
// @import "list";
@import "panel";
@import "search";
@import "select";
@import "util";


.wrapper {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;

        .promo-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items:center;
            width: 100%;
            padding: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $white;
            text-transform: uppercase;
            background: $razzmatazz;

            @media(max-width: $ipad) {
                font-size: 15px;
                padding: 5px;
            }


        }
        .content-header{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items:center;
            width: 100%;
            padding: 10px;
            font-size: 24px;
            font-weight: 300;
            color: $white;
            background: $aquamarine-tradewind;

            @media(max-width: $ipad) {
                font-size: 18px;
                padding: 5px;
                font-weight: 400
            }


        }

        .content-body {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            max-width: 1200px;
            background: $white;
            margin-top: 30px;

            @media(max-width: $ipad) {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            .left-side-bar {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 25%;
                padding: 20px 20px;

                @media(max-width: $ipad) {
                    width: 100%;
                }

                .header{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 64px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $aquamarine-tradewind;
                    border-top: 2px dashed $aquamarine-tradewind;
                }
                .contact-wrapper{
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     background: $payne-grey;
                     border-radius: 10px;
                     border: none;
                     padding: 10px;
                    .text {
                        font-size: 13px;
                        font-weight: 500;
                        color: $white;
                    }
                    .phone {
                        font-size: 24px;
                        font-weight: 300;
                        color: $white;
                    }
                }
                .side-bar-panel{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 30px;

                    .side-bar-panel-header{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 48px;
                        font-size: 16px;
                        font-weight: 400;
                        color: $aquamarine-tradewind;
                        border-top: 2px dotted $aquamarine-tradewind;


                    }
                    .side-bar-panel-body{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 100%;

                        a,p {
                            font-size: 14px;
                            font-weight: 400;
                            color: $payne-grey;
                            margin-bottom: 10px;
                        }
                    }
                }
            }

            .main-content {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 50%;
                padding: 20px 20px;

                @media(max-width: $ipad) {
                    width: 100%;
                }


                .header {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 64px;
                    font-size: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $orange-terracota;
                    border-top: 2px dashed $aquamarine-tradewind;
                }

                .main-content-body {
                    .date {
                        font-size: 24px;
                        font-weight: 300;
                        color: $payne-grey;
                        margin-bottom: 10px;

                        @media(max-width: $ipad) {
                            font-size: 20px;
                        }

                    }
                    .desc {
                        font-size: 18px;
                        font-weight: 500;
                        color: $payne-grey;
                        margin-bottom: 10px;

                        @media(max-width: $ipad) {
                            font-size: 16px;
                        }

                    }
                    .note {
                        font-size: 13px;
                        font-weight: 400;
                        color: $payne-grey;
                        // margin-bottom: 10px;

                    }
                    .media-link-wrapper {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 64px;
                        font-size: 24px;
                        border-bottom: 2px dashed $aquamarine-tradewind;
                        margin-bottom: 20px;
                        a {

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            font-size: 24px;
                            width: 32px;
                            height: 32px;
                            background: $aquamarine-tradewind;
                            border: none;
                            border-radius: 50%;
                            color: $white;
                            margin-right: 10px;

                            &:hover{
                                background: $orange-terracota;

                            }
                            i {
                                font-size: 20px;

                            }

                        }

                    }

                    &>p {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 20px;

                        @media(max-width: $ipad) {
                            font-size: 14px;
                        }

                    }

                    .list {
                        margin-left: 45px;
                        font-size: 18px;
                        list-style: outside;
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 20px;

                    }

                }





            }

            .right-side-bar {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 25%;
                padding: 20px 20px;

                @media(max-width: $ipad) {
                    width: 100%;
                }


                .header {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 64px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $aquamarine-tradewind;
                    border-top: 2px dashed $aquamarine-tradewind;
                }


            }




        }


    }
}
